p, h2, h3 {
    font-size: 1.5rem;
}

img{
    width:"200px";
    height:"200px";
    border-radius: 150px;
}

#h2_nosotros{
    margin: 50px;
    font-size: 3rem;
}

#grande {
    text-align: justify;    
    display: flex; /* Cambiamos display a flex */
    justify-content: space-between; /* Distribuir los divs horizontalmente con espacio entre ellos */
    align-items: center;
    width: 100%;
    padding: 10px; /* Añadir espacio interior */
    background-color: rgba(46, 46, 48, 0.52);
    border-radius: 20px;
    margin: 10px;
}

.tarjeta-persona {
    margin: 5px;
    padding: 5px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

