/* home */

:root {
    --fs-lg: clamp(3rem, 10vw + 1rem, 5rem);
    --fs-md: clamp(2.75rem, 10vw + 1rem, 3.75rem);
    --fs-sm: clamp(2rem, 10vw + 1rem, 2.5rem);
    --fs-xs: clamp(1rem, 10vw + 1rem, 1.25rem);
    --txt-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --nav-bg-color: rgba(46, 46, 48, 0.52);
    --main-bg-color: rgba(224, 224, 224, 0.46);
}

@media (max-width: 768px) {
    nav, footer {
        align-items: center;
        flex-direction: column;
    }

    nav img {
        display: none;
    }
    
    .nav--list--item {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    nav, footer {
        flex-direction: column;
        align-items: center;
    }

    .nav--link--container {
        transform: translateY(-10%);
    }

    .nav--list--item {
        flex-grow: 1;
        flex-shrink: 1;
    }
}
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Squada One';
    background-image: url("./Media/back.png");
    background-repeat: no-repeat;
    background-size: cover;
}   

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 20vh;
    height: auto;
    background-color: var(--nav-bg-color);
}

.title--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3%;
    transform: translateY(20%);
}

.title {
    font-size: var(--fs-lg);
    font-weight: 400;
    text-shadow: var(--txt-shadow);
}

.subtitle {
    align-self: end;
    font-family: 'Stalemate';
    font-size: var(--fs-md);
    font-weight: 400;
    text-shadow: var(--txt-shadow);
    color: #FFF;
    transform: translateX(15%) translateY(-50%);
}

.nav--link--container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 50%;
    padding: 10px;
}

.nav--list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
}

.nav--list--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav--link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    color: #FFF;
    font-size: var(--fs-sm);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh; 
}

.main--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    min-width: 50%;
    min-height: 80%;
    width: auto;
    height: auto;
    border-radius: 20px;
    background: var(--main-bg-color);
}

.main--container h2 {
    font-family: 'Roboto';
    font-size: var(--fs-sm);
    text-transform: uppercase;
    text-shadow: var(--txt-shadow);
    white-space: nowrap;
}

.main--subtitle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 0.5rem;
    font-family: 'Stalemate';
    font-size: var(--fs-sm);
    transform: translateY(-30%);
    white-space: nowrap;
}

.main--subtitle::before,
.main--subtitle::after{
    display: block;
    content: "";
    height: 1px;
    background-color: black;
}

footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 10vh;
    height: auto;
    background-color: black;
    color: white;
}

.footer--ubicacion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2%;
    width: 20%;
    font-size: var(--fs-xs);
}

.footer--ubicacion p {
    margin: 20px 0px;
}

footer p {
    margin: 16px 0px;
    white-space: nowrap;
}

.footer--redes {
    display: flex;
    justify-content: space-around;
    padding: 0% 2%;
    width: 20%;
}

/* iconos */
.home--icon         { width: 40px; height: 40px; }
.nosotros--icon     { width: 53px; height: 43px; }
.menu--icon         { width: 45px; height: 45px; }
.reservas--icon     { width: 40px; height: 40px; }
.registrarme--icon  { width: 45px; height: 45px; }
.ubicacion--icon    { width: 48px; height: 49px; }
.whatsapp--icon     { width: 48px; height: 49px; }
.instagram--icon    { width: 48px; height: 49px; }
.facebook--icon     { width: 55px; height: 56px; }

/* home */